.sale__input {
    width: 260px;
    height: 52px;
    margin: 0 -4px 0 -2px;
    border: 1px solid $ColorToRegister_hover;
    box-sizing: border-box;

    padding-left: 10px;
    letter-spacing: 0.2px;
}


@media screen and (max-width: 500px) {
    .sale__input {
        width: 288px;
        height: 52px;
        margin: 0 0 0 -6px;
        text-align: center;
        padding-left: 0;
    }
}