@import './__background-image/sale__background-image.scss';
@import './__container-brand/sale__container-brand.scss';
@import './__content-title/sale__content-title.scss';
@import './__image/sale__image.scss';
@import './__paragraph/sale__paragraph.scss';
@import './__button/sale__button.scss';
@import './__input/sale__input.scss';
@import './__form/sale__form.scss';
@import './__link/sale__link.scss';

.sale {
    position: relative;
    font-family: $fonts;
    padding: 213px 2px 0 120px;
}

@media screen and (max-width: 768px) {
    .sale {
        position: relative;
        font-family: $fonts;
        padding: 213px 2px 0 $paddingWidth768;
    }
}

@media screen and (max-width: 500px) {
    .sale {
        padding: 84px 2px 0 20px;
    }
}