.footer__paragraph {
    color: $ColorTextLinkPolicy;
    margin: 0;
    padding-bottom: 4px;
    letter-spacing: 0.4px;
}

@media screen and (max-width: 768px) {
    .footer__paragraph {
        padding: 10px 12px 0 0;
        margin: 0 auto;
    }
}

@media screen and (max-width: 530px) {
    .footer__paragraph {
        padding: 19px 12px 0 0;
    }
}