@import './__link/brand__link.scss';
@import './__image/brand__image.scss';
@import './_position-sale/brand_position.scss';
@import './_position-login/brand_position-login.scss';

.brand {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 84px auto 0;
}

@media screen and (max-width: 768px) {
    .brand {
        display: grid;
        grid-template-areas: "iltani iltani r r izare izare"  
                             ". toys toys mui mui mui";
        grid-template-rows: 47px 147px;
        justify-content: space-between;
        align-items: flex-start;
        min-height: 411px;
        margin: 0 auto;
    }
}

@media screen and (max-width: 500px) {
    .brand {
        grid-template-areas: "iltani r"  
                             "izare toys"
                             "mui .";
        grid-template-columns: 115px 170px;
        grid-template-rows: 80px 80px 80px;
        justify-content: center;
    }
}

@media screen and (max-width: 320px) {
    .brand {
        justify-content: flex-start;
    }
}