.brand__image.brand__image_toys {
    background-image: url("./images/Brand_toys.png");
    background-repeat: no-repeat;
    height: 50px;
    width: 120px;
}

@media screen and (max-width: 500px) {
    .brand__image.brand__image_toys  {
        margin: -6px auto 0 auto;
    }
}