@import './_one/header__line_one.scss';
@import './_two/header__line_two.scss';
@import './_three/header__line_three.scss';

.header__line {
    width: 45px;
    height: 3px;
    margin: 8px;

    transition: all 0.3s ease;

    background-color: $ColorBurgerLine;

}

@media screen and (max-width: 1275px) {
    .header__line {
        height: 4px;
        margin: 8px;
    }
}

@media screen and (max-width: 550px) {
    .header__line {
        height: 4px;
        margin: 4px;
        width: 24px;
    }
}