@import './__link/header__link.scss';
@import './__menu/header__menu.scss';
@import './__burger/header__burger.scss';
@import './__line/header__line.scss';
@import './__list/header__list.scss';
@import './__navigation/header__navigation.scss';
@import './__buttonLogin/header__button-login.scss';
@import './__buttonRegistration/header__button-registration.scss';
@import './__logo/header__logo.scss';
@import './__container/header__container';

.header {
    width: calc(100% - 240px);
    font-family: $fonts;
}

@media screen and (max-width: 900px) {
    .header {
        width: calc(100% - 64px);
        font-family: $fonts;
    }
}

@media screen and (max-width: 550px) {
    .header {
        width: calc(100% - 32px);
        font-family: $fonts;
    }
}