.form__input.form__input_password {
    margin-top: 3px;
    background-image: url('./images/eye-open.svg');
    background-position: right 13px top 13px;
    background-repeat: no-repeat;
    padding-left: 12.5px;
    font-size: 24px;
    letter-spacing: 6px;
    text-align: left;
}