.form__input.form__input_password {
    margin-top: 3px;
    background-position: right 13px top 13px;
    padding-left: 12.2px;
    padding-top: 6px;
    font-size: 30px;
    letter-spacing: 6.5px;
}