.header__navigation {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    width: calc(100% - 240px);

    padding: 0 0 0 $paddingWidth1440;

    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 9vh;

    background-color: rgba(255, 255, 255, 0.95);
}

@media screen and (max-width: 900px) {
    .header__navigation {
        width: calc(100% - 64px);
        padding: 0 0 0 $paddingWidth768;
    }
}

@media screen and (max-width: 550px) {
    .header__navigation {
        width: calc(100% - 32px);
        padding: 0 $paddingWidth320 0 $paddingWidth320;
    }
}