.footer__link.footer__link_icon {
    margin-left: 10px;
}

.footer__link.footer__link_icon:first-of-type {
    margin-left: 1px;
}

@media screen and (max-width: 768px) {
    .footer__link.footer__link_icon:first-of-type {
        margin-left: 0px;
    }
    .footer__link.footer__link_icon {
        margin-left: 22px;
    }
}