.footer__container_help {
    grid-area: help;
    padding-left: 8px;
}

@media screen and (max-width: 768px) {
    .footer__container_help {
        margin-left: auto;
        padding-right: 14px;
    }
}

@media screen and (max-width: 530px) {
    .footer__container_help {
        margin: 0 auto 34px;
        padding-right: 5px;
        text-align: center;
    }
}