.brand__image_r {
    background-image: url("./images/Brand_r.png");
    background-repeat: no-repeat;
    height: 50px;
    width: 120px;
}

@media screen and (max-width: 500px) {
    .brand__link.brand__image_r {
   
    }
}