.sale__container-brand {
    display: flex;
    justify-content: space-between;
    padding: 245px 150px 179px 28px;
}

@media screen and (max-width: 768px) {
    .sale__container-brand {
        display: grid;
        grid-template-areas: "iltani iltani r r izare izare"  
                             "toys toys toys mui mui mui";
        grid-template-rows: 99px 99px;
        justify-content: space-between;
        padding: 157px 0 113px 36px;
    }
}

@media screen and (max-width: 500px) {
    .sale__container-brand {
        display: grid;
        grid-template-areas: "iltani r"  
                             "izare toys"
                             "mui .";
        grid-template-rows: 80px 80px 80px;
        justify-content: space-between;
        padding: 317px 16px 111px 0;
    }
}