.sale__content-title {

    max-width: 516px;
    font-size: 32px;
    line-height: 130%;
    font-weight: normal;
    margin: 0;

    color: $ColorButtonTitleSectionSale;
}

@media screen and (max-width: 768px) {
    .sale__content-title {
        color: $ColorButtonTitleSectionSale;
    }
}

@media screen and (max-width: 500px) {
    .sale__content-title {
        font-weight: normal;
        font-size: 24px;
        line-height: 135%;
        text-align: center;
        padding-right: 12px;
        color: $ColorButtonTitleSectionSale;
    }
}