.sale__content-title {

    padding-top: 213px;
    max-width: 516px;
    font-size: 37.6px;
    line-height: 119%;
    font-weight: normal;
    margin-bottom: 0;

    color: $ColorButtonTitleSectionSale;
}

@media screen and (max-width: 768px) {
    .sale__content-title {
        color: $ColorButtonTitleSectionSale;
    }
}

@media screen and (max-width: 500px) {
    .sale__content-title {
        margin-right: 12px;
        padding: 84px 10px 0 0;
        font-size: 27px;
        line-height: 125%;
        text-align: center;
        letter-spacing: 0.6px;
        color: $ColorButtonTitleSectionSale;
    }
}