.login__link  {
    text-decoration: none;
    cursor: pointer;

    font-weight: bold;
    font-size: 18px;
    line-height: 120%;
    letter-spacing: 0.45px;

    color:#0041A5;

    transition: color 0.2s ease;

        &:hover {
            color: $ColorTextLinkHeader_hover;
            text-decoration-line: underline;
        }

        &:focus {
            color: $ColorTextLinkHeader_pressed;
            text-decoration-line: underline;
        }
}

@media screen and (max-width: 700px) {
    .login__link {
        font-weight: 500;
        font-size: 19px;
        line-height: 135%;
        text-align: center;
        letter-spacing: 1.3px;
        color: $ColorTextLinkMobileMenu;

            &:hover {
                color: $ColorTextLinkMobileMenu_hover;
            }
    
            &:focus {
                color: $ColorTextLinkMobileMenu_hover;
            }
    }
}