.form__input.form__input_registration {
    max-width: 380px;

    padding-left: 15px;
    letter-spacing: 1.9px;

    font-size: 18px;
    line-height: 120%;
    /* identical to box height, or 19px */
    letter-spacing: 0.25px;
}

@media screen and (max-width: 500px) {
    .form__input.form__input_registration {
        max-width: 380px;
        margin-right: 17px;
    }
}