.footer__container_product {
    grid-area: product;
    margin-left: 18%;
}


@media screen and (max-width: 768px) {
    .footer__container_product {
        margin-left: 5.3%;
    }
}

@media screen and (max-width: 530px) {
    .footer__container_product {
        margin: 0 auto;
    }
}

@media screen and (max-width: 550px) {
    .footer__container_product {
        margin: 0 auto 34px;
        text-align: center;
    }
}