.form__input.form__input_email {
    width: 260px;
    height: 52px;
    margin: 0 -6px 0 0;
    border: 1px solid $ColorToRegister_hover;
    box-sizing: border-box;

    font-size: 14px;
    line-height: 115%;
    letter-spacing: 0.25px;

    padding-left: 10px;
}

@media screen and (max-width: 500px) {
    .form__input.form__input_email {
        width: 288px;
        height: 52px;
        margin: 0;
        text-align: center;
        padding-left: 0;
    }
}

@media screen and (max-width: 320px) {
    .form__input.form__input_email {
        margin: 0 0 0 -16px;
    }
}
