.form__label_login-password {
    font-family: $fontsBold;
    font-size: 14px;
    line-height: 115%;
    /* identical to box height, or 16px */
    letter-spacing: 0.25px;
    color: $ColorLoginInputSubmit;
}