.brand_position-sale {
    max-width: 1144px;
    min-height: 294px;
}

@media screen and (max-width: 768px) {
    .brand_position-sale {
        min-height: 411px;
        margin: 0 auto;
    }
}

@media screen and (max-width: 500px) {
    .brand_position-sale {
        margin-top: 288px;
    }
}
