.footer__container_help {
    grid-area: help;
    margin-right: 16%;
}

@media screen and (max-width: 768px) {
    .footer__container_help {
        margin-left: auto;
        margin-right: 0;
        padding-right: 14px;
    }
}

@media screen and (max-width: 550px) {
    .footer__container_help {
        margin: 3px auto 34px;
        padding-right: 0;
        text-align: center;
    }
}