.footer__container_product {
    grid-area: product;
    padding-left: 14px;
}

@media screen and (max-width: 530px) {
    .footer__container_product {
        margin: 0 auto;
        padding-right: 0;
    }
}

@media screen and (max-width: 550px) {
    .footer__container_product {
        margin: 0 auto 34px;
        text-align: center;
        padding-right: 17px;
    }
}