.form__label_login-checkbox {
    position: relative;
    font-size: 14px;
    line-height: 115%;
    margin-left: 3px;
    /* identical to box height, or 16px */
    letter-spacing: 0.25px;
    color: #222222;

        &::before {
            position: absolute;
            top: -3px;
            left: -28px;
            content: "";
            display: inline-block;
            
            width: 20px;
            height: 20px;
            
            border-radius: 2px;
            box-sizing: border-box;
        }

        &::after {
            position: absolute;
            top: 2px;
            left: -23px;
            content: "";
            display: inline-block;
            height: 6px;
            width: 9px;
            border-left: 2px solid #284987;
            border-bottom: 2px solid #284987;
            
            transform: rotate(-53deg);
        }
}