.sale__button {
    width: 200px;
    height: 52px;
    border: none;
    outline: none;
    cursor: pointer;

    text-align: center;
    font-weight: bold;
    text-align: center;
    letter-spacing: 0.4px;
    color: $ColorTextToRegister;

    background-color: $ColorToRegister;

    transition: background-color 0.2s ease,
                color 0.2s ease;
    
        &:hover {
            color: $ColorTextToRegister_hover;
            background-color: $ColorToRegister_hover;
        }

        &:focus {
            color: $ColorTextToRegister_pressed;
            background-color: $ColorToRegister_pressed;
        }
}

@media screen and (max-width: 540px) {
    .sale__button {
        width: 170px;
    }
}

@media screen and (max-width: 500px) {
    .sale__button {
        width: 288px;
        height: 52px;
        margin: 32px auto 0;
    }
}

@media screen and (max-width: 320px) {
    .sale__button {
        margin: 32px 0 0 -3px;
    }
}
