.sale__button {
    width: 200px;
    height: 52px;
    border: none;
    outline: none;
    text-align: center;
    color: $ColorTextToRegister;
    background-color: $ColorToRegister;

    transition: background-color 0.2s ease,
                color 0.2s ease;
    
        &:hover {
            color: $ColorTextToRegister_hover;
            background-color: $ColorToRegister_hover;
        }

        &:focus {
            color: $ColorTextToRegister_pressed;
            background-color: $ColorToRegister_pressed;
        }
}