.header__burger {
    display: none;
    cursor: pointer;
}

@media screen and (max-width: 700px) {
    .header__burger {
        display: block;
        margin: 0;
        padding: 0 0 19px 2px;
    }
}