$login: #fff;
$login_hover: #00376E;
$login_pressed: #0041A5;

$registration: #00376E;
$registration_hover: #37DCD2;
$registration_pressed:#0041A5;

$toRegister: #0041A5;
$toRegister_hover: #0069AF;
$toRegister_pressed: #00376E;

$socialOcons:#888888;
$socialOcons_hover: #37DCD2;
$socialOcons_pressed: #0069AF;

$linkHeader:#222222;
$linkHeader_hover: #0069AF;
$linkHeader_pressed: #0041A5;

$linkFooter:#FFFFFF;
$linkFooter_hover: #37DCD2;
$linkFooter_pressed: #FFFFFF;

 