$ColorLogin: #FFFFFF;
$ColorTextLogin: #00376E;

$ColorLogin_hover: #00376E;
$ColorTextLogin_hover: #FFFFFF;

$ColorLogin_pressed: #0041A5;
$ColorTextLogin_pressed: #FFFFFF;


$ColorRegistration: #00376E;
$ColorTextRegistration: #FFFFFF;

$ColorRegistration_hover: #37DCD2;
$ColorTextRegistration_hover: #00376E;

$ColorRegistration_pressed:#0041A5;
$ColorTextRegistration_pressed:#FFFFFF;


$ColorToRegister: #0041A5;
$ColorTextToRegister: #FFFFFF;

$ColorToRegister_hover: #0069AF;
$ColorTextToRegister_hover: #FFFFFF;

$ColorToRegister_pressed: #00376E;
$ColorTextToRegister_pressed: #FFFFFF;


$ColorSocialIcons:#888888;
$ColorSocialIcons_hover: #37DCD2;
$ColorSocialIcons_pressed: #0069AF;

$ColorTextLinkHeader:#222222;
$ColorTextLinkHeader_hover: #0069AF;
$ColorTextLinkHeader_pressed: #0041A5;

$ColorTextLinkFooter:#FFFFFF;
$ColorTextLinkFooter_hover: #37DCD2;
$ColorTextLinkFooter_pressed: #FFFFFF;

$ColorTextCreateAccount: #0041A5;
$ColorTextCreateAccount_hover: #0069AF;
$ColorTextCreateAccount_pressed:#0041A5;

$ColorTextLinkPolicy: #0069AF;
$ColorTextLinkPolicy_hover:#FFFFFF;
$ColorTextLinkPolicy_pressed: #0069AF;

$ColorBurgerLine: #00376E;

$BackgroundColorMobileMenu: #0069AF;
$ColorTextLinkMobileMenu: #FFFFFF;
$ColorTextLinkMobileMenu_hover: #000000;
$ColorButonMobileMenu_hover: #37DCD2;

