@import './__content-title/registration__content-title.scss';
@import './__link/registration__link.scss';
@import './__paragraph/registration__paragraph.scss';

.registration {
    font-family: $fonts;
    max-width: 1200px;
    min-height: 801px;
    margin: 0 auto;
    padding: 0 $paddingWidth1440;
    background-image: url("./images/bg.png");
    background-position: right 148px top 100px;
    background-repeat: no-repeat;
}
 
@media screen and (max-width: 768px) {
    .registration {
        font-family: $fonts;
        padding: 0 $paddingWidth768;
        min-height: 733px;
        background-position: right 32px top 101px;
        background-size: 380px 428px;
    }
}

@media screen and (max-width: 500px) {
    .registration {
        min-height: none;
        max-height: 1014px;
        margin: 0 auto 0;
        padding: 0 2px 0 17px;
        background-position: right 16px top 347px;
        background-size: 288px 325px;
    }
}