.footer__link.footer__link_policy {
    color: $ColorTextLinkPolicy;
    margin-left: 16%;
    min-width: 228px;

    font-weight: 500;
    line-height: 115%;
    letter-spacing: 0.45px;

        &:hover {
            color: $ColorTextLinkPolicy_hover;
            text-decoration-line: underline;
        }

        &:focus {
            color: $ColorTextLinkPolicy_pressed;
            text-decoration-line: underline;
        }
}

@media screen and (max-width: 768px) {
    .footer__link.footer__link_policy {
        margin-left: 0;
        padding-top: 15px;
    }
}

@media screen and (max-width: 530px) {
    .footer__link.footer__link_policy {
        padding-top: 35px;
    }
}