@import './_email/form__error_email.scss';

.form__error {
    display: none;
    position: absolute;
    top: -30px;
    margin-top: 10px;
	color: #df4b41;
	text-align: left;
	font-size: 14px;
    animation: errors .1s ease-in-out;
}
