.sale__link_mui {
    grid-area: mui;
}

@media screen and (max-width: 768px) {
    .sale__link.sale__link_mui {
        margin-right: 145px;
    }
}

@media screen and (max-width: 620px) {
    .sale__link.sale__link_mui {
        margin-right: 0;
    }
}